@font-face {
    font-family: 'Asia AS';
    src: url('./fonts/AsiaAS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }